In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
agebyseason_file="AgeViewBySeason.csv"
seasonal1519="WHO_NREVSS_Public_Health_Labs.csv"
seasonal1215="WHO_NREVSS_Combined_prior_to_2015_16.csv"



agebyseason_df=pd.read_csv(agebyseason_file)
season1519_df=pd.read_csv(seasonal1519)
season1215_df=pd.read_csv(seasonal1215)

In [3]:
agebyseason_df.tail(31)

,Season,Age Group,A (H1),A (Unable to Subtype),A (H3),A (H1N1)pdm09,A (Subtyping not Performed),B (Victoria Lineage),B (Yamagata Lineage),B (Lineage Unspecified),H3N2v
1,2019-20,5-24 yr,0,0,394,4007,147,6419,54,1908,0
2,2019-20,25-64 yr,0,0,403,8156,282,3395,61,889,0
3,2019-20,65+ yr,0,0,493,3625,112,790,60,125,0
4,2018-19,0-4 yr,0,0,1820,2859,224,193,37,175,0
5,2018-19,5-24 yr,0,0,6525,5423,360,691,137,486,0
6,2018-19,25-64 yr,0,0,4464,8744,519,296,154,171,0
7,2018-19,65+ yr,0,0,4494,3573,191,59,106,29,0
8,2017-18,0-4 yr,0,0,2175,781,34,192,578,183,0
9,2017-18,5-24 yr,0,0,5985,1443,63,655,2692,947,2
10,2017-18,25-64 yr,0,0,8983,2292,129,293,3444,879,1
11,2017-18,65+ yr,0,0,11487,821,140,97,3460,539,0
12,2016-17,0-4 yr,0,0,2100,140,17,336,347,143,29
13,2016-17,5-24 yr,0,0,7919,196,57,1169,1546,663,24
14,2016-17,25-64 yr,0,0,8130,378,75,542,1958,552,2
15,2016-17,65+ yr,0,0,9728,160,83,191,1872,281,3
16,2015-16,0-4 yr,0,0,309,1876,34,207,214,205,6
17,2015-16,5-24 yr,0,0,1513,3419,72,765,943,948,11
18,2015-16,25-64 yr,0,0,1080,6918,176,398,1341,728,0
19,2015-16,65+ yr,0,0,852,1906,80,153,797,285,1
20,2014-15,0-4 yr,0,0,3113,25,33,0,0,536,0
21,2014-15,5-24 yr,0,0,9108,37,81,0,0,1846,2
22,2014-15,25-64 yr,0,0,9154,89,108,0,0,2004,0
23,2014-15,65+ yr,0,0,12852,12,119,0,0,1199,0
24,2013-14,0-4 yr,0,0,322,2592,23,0,0,316,2
25,2013-14,5-24 yr,0,0,959,5268,78,0,0,1062,1
26,2013-14,25-64 yr,0,0,1196,11852,164,0,0,1426,0
27,2013-14,65+ yr,0,0,1115,2468,58,0,0,672,0
28,2012-13,0-4 yr,0,0,3364,261,21,0,0,1380,5
29,2012-13,5-24 yr,0,0,7498,498,47,0,0,4107,14
30,2012-13,25-64 yr,0,0,8747,876,106,0,0,2363,0
31,2012-13,65+ yr,0,0,8510,95,228,0,0,1015,1

In [4]:
season1519_df.tail()
season1215_df.head()

                                                                                                                                                *Beginning for the 2015-16 season, reports from public health and clinical laboratories are presented separately in the weekly influenza update, FluView.  This data file includes only data prior to the 2015-16 influenza season, and will be presented with the public health and clinical labs combined.
REGION TYPE REGION YEAR WEEK TOTAL SPECIMENS PERCENT POSITIVE A (2009 H1N1) A (H1) A (H3) A (Subtyping not Performed) A (Unable to Subtype) B                                                H3N2v
National    X      2012 40   4513            3.78905          9             0      73     11                          0                     78                                                   0
                        41   4914            3.92755          7             0      67     24                          0                     95                                                   0
                        42   5249            5.81063          4             0      131    48                          0                     122                                                  0
                        43   5306            6.55861          3             0      152    52                          0                     141                                                  0

In [5]:
agebyseason_df.to_csv (r'incidentdata.csv', index = False, header=True)
incidentdf = pd.read_csv(r'incidentdata.csv')
incidentdf.to_json(r'incidentjson.json')

In [22]:
seasonincident_df = agebyseason_df.drop(['A (H1)', 'A (Unable to Subtype)'], axis = 1)

seasongrouped_df = seasonincident_df.groupby(['Season']).sum()
seasongrouped_df

,A (H3),A (H1N1)pdm09,A (Subtyping not Performed),B (Victoria Lineage),B (Yamagata Lineage),B (Lineage Unspecified),H3N2v
Season,,,,,,,
2012-13,28119,1730,402,0,0,8865,20
2013-14,3592,22180,323,0,0,3476,3
2014-15,34227,163,341,0,0,5585,2
2015-16,3754,14119,362,1523,3295,2166,18
2016-17,27877,874,232,2238,5723,1639,58
2017-18,28630,5337,366,1237,10174,2548,3
2018-19,17303,20599,1294,1239,434,861,0
2019-20,1445,17754,603,12333,191,3311,0